@font-face {
	font-family: 'PokemonClassic';
  src: url(fonts/PokemonClassic.ttf) format('truetype'); 
  font-weight: normal;
  font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*:focus,
*:active {
	outline: none !important;
	-webkit-tap-highlight-color: transparent;
}

html, body {
	display: grid;
	height: 100%;
  width: 100%;
	font-family: 'PokemonClassic';
	font-weight:normal;
	font-style:normal;
	place-items: center;
  background: linear-gradient(315deg, #ffffff, #d7e1ec);
}

.wrapper {
	display: inline-flex;
	list-style: none;
}